server {
    listen ${RTMP_PORT};
    ping 30s;
    notify_method get;
    chunk_size 4096;

    application live {
        live on;
        record off;

        # push rtmp://${TWITCH_HOST}.twitch.tv/app/${TWITCH_STREAMKEY};
    }
}